*{
    margin: 0;
    padding: 0;
    list-style: none; 
    text-decoration: none;
}

#global{
    width: 65%;
    border: 1px solid #ccc;
    margin: 2rem auto;
    padding: 30px;
    background: white;
    box-shadow: 0px 0px 0px 1px gray;
    height: auto;
    
}

body{
    background-image: url(img/fondo.jpg);
}

#logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 80px;
    background-color: #15178b;
    color: white;
    text-align: center;
    width: 600px;
    height: 80px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.menu-link{
    color: black;
    margin-right: 3rem;
    margin-left: 3rem;
}

#menu{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#menu ul{
    line-height: 46px;
    display: flex;    
}

#menu ul li:hover{
    background-color: #15178b;
}

#menu ul li a {
    color: white;
}

#menu ul li{
    transition: all 300ms;
}

#post{
    width: 60%;
    font-family: Helvetica,Arial;
}

.post{
    padding: 5px;
}

.post .date{
    display: block;
    color: gray;
    margin-top: 10px;
}

.post p{
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 20px;
}

.imgP{
    width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#sidebar{
    margin-left: 2rem;
    margin-top: 2rem;
}

#contenido{
    display: flex;
}

#sidebar{
    margin-left: 5rem;
    width: 350px;
}

.QS{
    font-family: Helvetica,Arial;
    font-size: 1.5rem;
}

.button-more{
    padding: 1rem 2rem;
    color: white;
    background-color: #15178b;

}

.btn-link{
    margin-top: 4rem;
}

.equipo{
    margin-top: 2rem;
    
}

.img__person{
    max-width: 200px;
    
}

.title__team{
    font-size: 2rem;
}

.person{
    margin-top: 3rem;
    display: flex;

}

.content__person{
    margin-top: 2rem;
 
    margin-left: 2rem;
}

.name{
    margin-bottom: 1rem;
}

.formula__container{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    
}

.label_fg{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
}

.insert{
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline:none;
}

.line{
    height: 1px;
    background-color: #ccc;
    margin-bottom: 1.5rem;
}

.btn__container-fg{
    display: flex;
    justify-content: center;
}

.btn_fg{
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: .7rem;
    border: none;
    background-color: #15178b;
    color: white;
}

.resultados{
    margin-top: 1rem;
    text-align: center;
    
}

.numer__result{
    font-size: 2rem;
}